* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif, Arial,
    Helvetica;
}

body {
  margin: 0 auto;
  max-width: 1300px;
  /* width: 100%; */
  text-align: center;
  color: #514949;
  background-color: rgb(255, 253, 245);
}

a {
  text-decoration: none;
  color: black;
}

.fixed_head {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: rgb(255, 253, 245);
}
.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 40px;
  background-color: rgb(255, 253, 245);
}
.nav{
display: flex;
justify-content: space-between;
align-items: center;
width: 35%;
}
.enroll{
  display: inline-flex;
  align-items: center;
  /* margin-left: -100px; */
}
.thumbs{
  background-color: #E7332B;
  border-radius: 100%;
  height: 80px;
  width: 80px;
  padding-top: 18px;

}
.thumbs img{
  width: 40px;
  /* background-color: #E7332B; */
}
.enroll p{
  background-color: #E7332B;
  color: white;
  padding: 10px 30px 10px 30px;
  margin-left: -21px;
  border-bottom-right-radius: 30px;
  border-top-right-radius: 30px;
  font-size: 18px;
}
.section1{
  display: flex;
  align-items: center;
  margin: 150px 40px 0px;
  width: 95%;
}
.section1_p1{
  font-size: 18px;
  color: #E7332B;
  width: 100%;
  text-align: center;
}
.section1_p2{
  font-size: 19px;
  width: 70%;
  margin: 0 auto;
  text-align: center;
}
.enroll_now{
  background-color: #E7332B;
  color: white;
  padding: 10px 20px;
  margin-top: 100px;
  width: 120px;
  margin: 50px auto;
  border-radius: 20px;
  display: flex;
}
.enroll_img {
  display: flex;
  align-items: center;
  position: relative;
  z-index: -1;
}
.enroll_img1{
  width: 60px;
  position: absolute;
  top: 80px;
}

.enroll_img2{
  position: absolute;
  left: 340px;
  top: 80px;
  /* margin-right:  */
}

/* .enroll_now::after{
  content: url(./image/training.zuri.team/section3wire.svg);
  flex-direction: column;
} */
.section1 h2{
font-size: 50px;
margin-top: 15px;
margin-bottom: 30px;
/* text-align: center; */
}
.section1 h2::after{
content: url(./image/training.zuri.team/line.svg);
max-width: 10px;
}
.section1_image1{
  width: 350px;
}
.section1_image2{
  width: 300px;
}
hr{
  margin-top: 150px;
  margin-bottom: -50px;
}
.hr{
  margin-top: -50px;
}
.section2{
  display: flex;
  align-items: center;
  width: 95%;
  margin: 0 auto;
}
.section2 h3{
  text-align: left;
  width: 400px;
}
.section2 p{
  text-align: right;
  font-size: 21px;
  width: 500px;
}
.section2 p a{
  color: rgb(52, 143, 52);
  text-decoration: underline;
  cursor: pointer;
}
.section2 img{
  /* width: 100%; */
  margin: 0 100px;
}
.section3{
  position: relative;
  margin: 150px 40px;
  z-index: -1;
}
.section3_img1{
  /* width: 100%; */
  margin: 0 100px;
  position: absolute;
  left: 150px;
  top: -90px;
  width: 100px;
}
.section3_img2{
  margin: 0 100px;
  position: absolute;
  /* right: 200px; */
  top: -10px;
  right: -20px;
  width:230px;
}
.section3 h3{
  text-align: left;
  color: #E7332B;
  font-size: 23px;
}
.section3 p{
  text-align: left;
  font-size: 40px;
  font-weight: bold;
  margin-top: 10px;
  width: 600px;
}



footer{
  margin: 50px 40px;
}
.foot_top{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.foot_bottom{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.foot_bottom p{
  margin-top: 20px;
}
.foot_flex{
  display: flex;
  justify-content: space-between;
  width: 20%;
  margin-top: 20px;
  }
  .last_line{
    display: none;
  }
  .section4{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 auto;
    margin: 50px 40px;
  }
  .sec4bg{
    background: linear-gradient(180deg, rgba(255, 244, 240, 0), #fff4f0 17.19%, #fff4f0 84.37%, rgba(255, 244, 240, 0)) !important;
      width: 100;
  }
  .section4 .box1{
    background-color: #E7332B;
    color: white;
    width: 380px;
    text-align: left;
    border-radius: 30px;
    /* margin-right: 40px; */
    margin-bottom: 40px;
  }
  .section4 .box1 img{
    /* float: right;
    clear: both; */
    margin-top: 0px;
    margin-left: 200px;
    /* width: 12px; */
  }

  /* .section4 .box1:hover{

  } */
  .section4 .box1 h1{
    color: white;
    padding-bottom: 20px;
    font-size: 70px;
    /* padding-top: 00px; */
    padding-left: 40px;
    margin-top: -100px;
  }
  .section4 .box1 h2{
    color: white;
    padding-bottom: 20px;
    font-size: 30px;
    width: 100px;
    padding-left:20px;
    margin: 25px;
  }
  .section4 .box1 p{
    color: white;
    padding-bottom: 20px;
    font-size: 19px;
    padding-left: 40px;
    padding-right: 10px;
    padding-bottom: 100px;
  }
  .section4 .box2{
    background-color: white;
    color: black;
    width: 380px;
    text-align: left;
    border-radius: 30px;
    /* margin-right: 40px; */
    margin-bottom: 40px;
    /* height: 450px; */
  }
  .section4 .box2 img{
    /* float: right;
    clear: both; */
    margin-top: 0px;
    margin-left: 200px;
    /* width: 12px; */
  }

  /* .section4 .box1:hover{

  } */
  .section4 .box2 h1{
    color: black;
    padding-bottom: 20px;
    font-size: 70px;
    /* padding-top: 00px; */
    padding-left: 40px;
    margin-top: -100px;
  }
  .section4 .box2 h2{
    color: black;
    padding-bottom: 20px;
    font-size: 30px;
    width: 100px;
    padding-left:20px;
    margin: 25px;
  }
  .section4 .box2 p{
    color: black;
    padding-bottom: 20px;
    font-size: 19px;
    padding-left: 40px;
    padding-right: 10px;
    padding-bottom: 100px;
  }
  .section4 .box3{
    background-color: white;
    color: black;
    width: 380px;
    text-align: left;
    /* padding: 100px 50px; */
    border-radius: 30px;
    margin-bottom: 40px;
    /* height: 450px; */
  }
  .section4 .box3 img{
    /* float: right;
    clear: both; */
    margin-top: 0px;
    margin-left: 200px;
    /* width: 12px; */
  }

  /* .section4 .box1:hover{

  } */
  .section4 .box3 h1{
    color: black;
    padding-bottom: 20px;
    font-size: 70px;
    /* padding-top: 00px; */
    padding-left: 40px;
    margin-top: -100px;
  }
  .section4 .box3 h2{
    color: black;
    padding-bottom: 20px;
    font-size: 30px;
    width: 100px;
    padding-left:20px;
    margin: 25px;
  }
  .section4 .box3 p{
    color: black;
    padding-bottom: 20px;
    font-size: 19px;
    padding-left: 40px;
    padding-right: 10px;
    padding-bottom: 100px;
  }
  .section4 .box4{
    background-color: white;
    color: black;
    width: 380px;
    text-align: left;
    /* padding: 100px 50px; */
    border-radius: 30px;
    /* margin-right: 40px; */
    /* height: 450px; */
  }
  .section4 .box4 img{
    /* float: right;
    clear: both; */
    margin-top: 0px;
    margin-left: 200px;
    /* width: 12px; */
  }

  /* .section4 .box1:hover{

  } */
  .section4 .box4 h1{
    color: black;
    padding-bottom: 20px;
    font-size: 70px;
    /* padding-top: 00px; */
    padding-left: 40px;
    margin-top: -100px;
  }
  .section4 .box4 h2{
    color: black;
    padding-bottom: 20px;
    font-size: 30px;
    width: 100px;
    padding-left:20px;
    margin: 25px;
  }
  .section4 .box4 p{
    color: black;
    padding-bottom: 20px;
    font-size: 19px;
    padding-left: 40px;
    padding-right: 10px;
    padding-bottom: 100px;
  }
  .section4 .box5{
    background-color: white;
    color: black;
    width: 380px;
    text-align: left;
    /* margin-right: 40px; */
    /* padding: 100px 50px; */
    border-radius: 30px;
    /* height: 450px; */
  }
  .section4 .box5 img{
    /* float: right;
    clear: both; */
    margin-top: 0px;
    margin-left: 200px;
    /* width: 12px; */
  }

  /* .section4 .box1:hover{

  } */
  .section4 .box5 h1{
    color: black;
    padding-bottom: 20px;
    font-size: 70px;
    /* padding-top: 00px; */
    padding-left: 40px;
    margin-top: -100px;
  }
  .section4 .box5 h2{
    color: black;
    padding-bottom: 20px;
    font-size: 30px;
    width: 100px;
    padding-left:20px;
    margin: 25px;
  }
  .section4 .box5 p{
    color: black;
    padding-bottom: 20px;
    font-size: 19px;
    padding-left: 40px;
    padding-right: 10px;
    padding-bottom: 100px;
  }
  .section4 .box6{
    background-color: white;
    color: black;
    width: 380px;
    text-align: left;
    /* padding: 100px 50px; */
    border-radius: 30px;
    /* height: 450px; */
  }
  .section4 .box6 img{
    /* float: right;
    clear: both; */
    margin-top: 0px;
    margin-left: 200px;
    /* width: 12px; */
  }

  /* .section4 .box1:hover{

  } */
  .section4 .box6 h1{
    color: black;
    padding-bottom: 20px;
    font-size: 70px;
    /* padding-top: 00px; */
    padding-left: 40px;
    margin-top: -100px;
  }
  .section4 .box6 h2{
    color: black;
    padding-bottom: 20px;
    font-size: 30px;
    width: 100px;
    padding-left:20px;
    margin: 25px;
  }
  .section4 .box6 p{
    color: black;
    padding-bottom: 20px;
    font-size: 19px;
    padding-left: 40px;
    padding-right: 10px;
    padding-bottom: 100px;
  }
  .section5{
    display: flex;
    align-items: center;
    color: white;
    text-align: left;
    margin: 20px 40px;
    padding-top: 20px;
    padding-bottom: 100px;
  }
  .section5 button{
    color: #E7332B;
    padding: 15px 40px;
    border-radius: 50px;
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: white;
    border: none;
    font-size: 20px;
  }
  .section5 .p1{
    margin-top: 40px;
    margin-bottom: 10px;
    font-size: 18px;
  }
  .section5 .p1::after{
    content: url(./image/training.zuri.team/section5wire.svg);
    width: 20px;
  }
  .section5 .p1::after svg{ 
    /* content: url(./image/training.zuri.team/section5wire.svg); */
    width: 20px;
  }
  .section5 .p2{
    margin-top: 40px;
    margin-bottom: 10px;
    font-size: 18px;
    width: 300px;
  }
  .section5 h2{
    font-size: 45px;
    width: 450px;
  }
  .act{
    display: inline-flex;
    align-items: center;
    width:250px;
    border: 1px solid white;
    border-radius: 50px;
    padding: 13px 0 13px 20px ;
  }
  .section5 .overall_act .act img{
    width:50px;
  }
  .section5 .overall_act .act p{
    font-size: 20px;
    margin-left: 10px;
  }
  .sec5bigbg img{
    width: 550px;
  }



@media screen and (max-width: 1130px) {
  .section1 {
    flex-direction: column;
  }
  .section1_image1{
    width: 700px;  
  }
  .section1_image2{
    display: none;  
  }
  .enroll_img1 {
    width: 60px;
    position: absolute;
    top: 80px;
  }

  .enroll_img2 {
    position: absolute;
    left: 700px;
    top: 80px;
    /* margin-right: */
      /* margin-left: 120px; */
  }
  .section4 .box1 {
    width: 420px;
  }
  .section4 .box1 img{
    margin-left: 74%;
  }
  .section4 .box2 {
    width: 420px;
  }
  .section4 .box2 img{
    margin-left: 74%;
  }
  .section4 .box3 {
    width: 500px;
  }
  .section4 .box3 img{
    margin-left: 74%;
  }
  .section4 .box4 {
    width: 500px;
  }
  .section4 .box4 img{
    margin-left: 74%;
  }
  .section4 .box5 {
    width: 500px;
  }
  .section4 .box5 img{
    margin-left: 74%;
  }
  .section4 .box6 {
    width: 500px;
  }
  .section4 .box6 img{
    margin-left: 74%;
  }
}

@media screen and (max-width: 988px) {
  .nav {
    display: none;
  }
  .section2 h3{
  text-align: left;
  font-size: 16px;
  width: 600px;
}
  .section2 p{
  text-align: right;
  font-size: 16px;
  width: 700px;
}
.section3_img2 {
  top: 25px;
  right: -200px;
  width: 230px;
}

@media screen and (max-width: 890px) {
  .nav {
    display: none;
  }
  .section2{
    display: block;
    margin: 100px auto;
  }
  .section2 h3{
  text-align: center;
  font-size: 16px;
  width: 100%;
}
  .section2 p{
  text-align: center;
  font-size: 16px;
  width: 100%;
}

.section3 p{
  width: 100%;
}
.section3_img2 {
  top: 250px;
  left: 20px;
  width: 230px;
}
}
@media screen and (max-width: 890px) {
  footer{
    margin-top: 400px;
  }
  .foot_top {
    flex-direction: column;
  }
  .foot_top img{
    flex-direction: column;
    margin-bottom: 20px;
  }
  .foot_bottom {
    flex-direction:column-reverse;
  }
  .foot_flex {
    flex-direction:column-reverse;
    width: 100%;
    margin-bottom: 50px;
  }
  .last_line{
    display: block;
    background-color: #E7332B;
    margin-top: -40px;
  }
  .section3_img2 {
    top: 350px;
    left: -50px;
    width: 230px;
  }
}
  .section4 .box1 {
    width: 100%;
  }

  .section4 .box2 {
    width: 100%;
  }

  .section4 .box3 {
    width: 100%;
  }

  .section4 .box4 {
    width: 100%;
  }

  .section4 .box5 {
    width: 100%;
  }

  .section4 .box6 {
    width: 100%;
  }
}