*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family:  sans-serif, Arial,
    Helvetica;
}
body{
  margin: 0 auto;
  max-width: 1300px;
  width: 100%;
  text-align: center;
  color: #514949;;
}
a{
  text-decoration: none;
  color: white;
}
.top{
  background-image: url(./image/zuri.team/hero-bg.svg);
  height: 700px;
  background-repeat: no-repeat;
  background-size: cover;
}
.top_text{
  max-width: 600px;
  margin: 0 auto;
}
.top h2{
  padding-top: 100px;
}
.top p{
  font-size: 14.5px;
}
#dot{
  font-family: monospace;
  margin: -8px;
}
span{
  color: #E7332B;
}
.top .p_button{
  display: flex;  
  justify-content:center;
}
.top .p1_button{
  margin-right:  30px;
}
.top .p_button .p1_button{
  background-color: #E7332B;
  padding: 15px 35px;
  color: white;
  outline: none;
  border: none;
}
.top .p_button .p1_button:hover{
  background-color: white;
  color: #E7332B;
  border: 1px solid #E7332B;
}
.top .p_button .p2_button{
  background-color: white;
  padding: 15px 35px;
  color: #E7332B;
  outline: none;
  border: 1px solid #E7332B;
}
.top .p_button .p2_button a{
  color: #E7332B;
}
.top .p_button .p2_button:hover{
  background-color: #E7332B;
  color: white;
}

.team h5{
  margin-top: 150px;
  color: #E7332B;
}
.team p{
  font-size: 20px;
  line-height: 30px;
  max-width: 380px;
  margin: 10px auto;
}
#bg_dots {
  display: flex;
  justify-content: space-between
}

#bg_dots img {
  width: 250px;
  z-index: -1;
  margin-top: -50px;
  margin-bottom: -300px;
}
.box{
  display: flex;
  justify-content: space-between;
  text-align: left;
  margin: 0 30px;
  max-width: 1400px;
}
.box1{
  background-color: #fffafa;
  padding: 100px 30px 80px;
  max-width: 350px;
  margin-right: 30px;
}
.box1 h5{
  background-color: #fff;
  padding: 45px 20px 45px;
  display: inline;
  font-size: 16px;
}
.box1 h5 span{
  background-color: #fff;
  font-size: 30px;
  margin-left: 200px;
}

.box1 .text{
  font-size: 15px;
  line-height: 25px;
  margin-top: 60px;
}
.box1 .link{
  color: #E7332B;
    text-decoration: none;
}
.box1 a .link{
  text-decoration: none;
}

.box2{
  background-color: #fffafa;
  padding: 100px 30px 80px;
  max-width: 350px;
  /* margin-left: 30px; */
}
.box2 h5{
  background-color: #fff;
  padding: 45px 20px 45px;
  display: inline;
  font-size: 16px;
}
.box2 h5 span{
  background-color: #fff;
  font-size: 30px;
  margin-left: 200px;
}

.box2 .text{
  font-size: 15px;
  line-height: 25px;
  margin-top: 60px;
}
.box2 .link{
  color: #E7332B;
    text-decoration: none;
}
.box2 a .link{
  text-decoration: none;
}

.box3{
  background-color: #fffafa;
  padding: 100px 30px 80px;
  max-width: 350px;
  margin-left: 30px;
}
.box3 h5{
  background-color: #fff;
  padding: 45px 20px 45px;
  display: inline;
  font-size: 16px;
}
.box3 h5 span{
  background-color: #fff;
  font-size: 30px;
  margin-left: 200px;
}

.box3 .text{
  font-size: 15px;
  line-height: 25px;
  margin-top: 60px;
}
.box3 .link{
  color: #E7332B;
    text-decoration: none;
}
.box3 a .link{
  text-decoration: none;
}
.flex_foot{
  display: flex;
  justify-content: space-between;
  margin: 350px 30px 80px;
  text-align: left;
}
.flex_foot h3{
  font-size: 15px;
}
.flex_foot p{
  font-size: 14px;
}
.flex_foot a{
  color: #E7332B;
}
footer img{
  width: 15px;
}
footer .copy{
  margin-top: 30px;
  margin-bottom: 80px;
}

@media screen and (max-width: 900px) {
  .box {
    display: block;
  }

  .box1 {
    max-width: 100%;
    margin-right: 0;
    margin-bottom: 30px;
  }

  .box2 {
    max-width: 100%;
  }

  .box3 {
    max-width: 100%;
    margin-left: 0;
    margin-top: 30px;
  }
}

@media screen and (max-width: 767px) {
  .top_text {
    padding: 20px;
    }
.top .p_button {
    display: block;
  }
  .top .p1_button {
    margin-right: 0px;
    margin-bottom: 20px;
  }
  .top .p1_button {
    margin-right: 0px;
    margin-bottom: 20px;
  }
  .flex_foot{
    text-align: center;
    display: block;
  }
    .flex_foot .link {
  margin-bottom: 30px;
  margin-top: 30px;
  }  
  .flex_foot .contacts {
    margin-bottom: 30px;
  }
  .flex_foot h2 {
  font-size: 30px; 
  margin-bottom: 8px; 
  }
  .flex_foot h3 {
  font-size: 23px; 
  margin-bottom: 8px; 
  }
    
  footer img {
    margin-bottom: 30px;
    }

}


/* @media screen and (max-width: 510px) {
  .top_text{
    padding: 20px;
  }
.top .p_button {
    display: block;
  }
  .top .p1_button {
    margin-right: 0px;
    margin-bottom: 20px;
  }

} */